*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
    --bg-gradient-yellow-2: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    --ff-poppins: 'Poppins', sans-serif;
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}


@media (min-width: 580px) {
    :root {
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
    }
}

@media (min-width: 1024px) {
    :root {
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
        --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
        --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    }
}

.sidebar, article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

article {
    display: none;
}

@media (min-width: 580px) {
    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .sidebar, article {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .sidebar, article {
        width: 950px;
        box-shadow: var(--shadow-5);
    }
}

@media (min-width: 1250px) {
    .sidebar, article {
        width: auto;
    }
}

@media (min-width: 1250px) {
    article {
        min-height: 100%;
    }
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

.h2, .h3, .h4, .h5 {
    color: var(--white-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.article-title {
    position: relative;
    padding-bottom: 7px;
}

.article-title {
    margin-bottom: 30px;
}

@media (min-width: 580px) {
    .article-title {
        font-weight: var(--fw-600);
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .article-title {
        padding-bottom: 20px;
    }
}

.mapbox {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
}

.mapbox {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
}

.mapbox figure {
    height: 100%;
}

.mapbox iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
}

.contact-form {
    margin-bottom: 10px;
}

.form-title {
    margin-bottom: 20px;
}

.h3 {
    font-size: var(--fs-2);
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 25px;
}

@media (min-width: 580px) {
    .input-wrapper {
        gap: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .input-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

.form-input {
    color: var(--white-2);
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
    padding: 13px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
}

@media (min-width: 580px) {
    .form-input {
        padding: 15px 20px;
    }
}

textarea.form-input {
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    margin-bottom: 25px;
}

@media (min-width: 580px) {
    textarea.form-input {
        margin-bottom: 30px;
    }
}

img, ion-icon, a, button, time, span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.form-btn {
    position: relative;
    width: 100%;
    background: var(--border-gradient-onyx);
    color: var(--orange-yellow-crayola);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-radius: 14px;
    font-size: var(--fs-6);
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
    transition: var(--transition-1);
}

@media (min-width: 580px) {
    .form-btn {
        --fs-6: 16px;
        padding: 16px 20px;
    }
}

@media (min-width: 768px) {
    .form-btn {
        width: max-content;
        margin-left: auto;
    }
}

.form-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

ion-icon {
    visibility: hidden;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.hydrated {
    visibility: inherit;
}

.form-btn ion-icon {
    font-size: 16px;
}

@media (min-width: 580px) {
    .form-btn ion-icon {
        font-size: 18px;
    }
}

img, ion-icon, a, button, time, span {
    display: block;
}