*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
    --bg-gradient-yellow-2: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    --ff-poppins: 'Poppins', sans-serif;
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}

@media (min-width: 580px) {
    :root {
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
    }
}

@media (min-width: 1024px) {
    :root {
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
        --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
        --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    }
}

.sidebar, article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

article {
    display: none;
}

@media (min-width: 580px) {
    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .sidebar, article {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .sidebar, article {
        width: 950px;
        box-shadow: var(--shadow-5);
    }
}

@media (min-width: 1250px) {
    .sidebar, article {
        width: auto;
    }
}

@media (min-width: 1250px) {
    article {
        min-height: 100%;
    }
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

.h2, .h3, .h4, .h5 {
    color: var(--white-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.article-title {
    position: relative;
    padding-bottom: 7px;
}

.article-title {
    margin-bottom: 30px;
}

@media (min-width: 580px) {
    .article-title {
        font-weight: var(--fw-600);
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .article-title {
        padding-bottom: 20px;
    }
}

.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}

@media (min-width: 580px) {
    .article-title::after {
        width: 40px;
        height: 5px;
    }
}

.filter-list {
    display: none;
}

@media (min-width: 768px) {
    .filter-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        padding-left: 5px;
        margin-bottom: 30px;
    }
}

li {
    list-style: none;
}

img, ion-icon, a, button, time, span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

@media (min-width: 768px) {
    .filter-item button {
        color: var(--light-gray);
        font-size: var(--fs-5);
        transition: var(--transition-1);
    }
}

@media (min-width: 768px) {
    .filter-item button.active {
        color: var(--orange-yellow-crayola);
    }
}

li {
    list-style: none;
}

.filter-select-box {
    position: relative;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .filter-select-box {
        display: none;
    }
}

.filter-select {
    background: var(--eerie-black-2);
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

:host .ionicon {
    stroke: currentcolor;
}

.select-list {
    background: var(--eerie-black-2);
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;
    padding: 6px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in-out;
}

li {
    list-style: none;
}

.select-item button {
    background: var(--eerie-black-2);
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    text-transform: capitalize;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .project-list, .blog-posts-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-item {
    display: none;
}

.project-item.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
}

a {
    text-decoration: none;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.project-item > a {
    width: 100%;
}

.project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
}

@media (min-width: 450px) {
    .project-img, .blog-banner-box {
        height: auto;
    }
}

@media (min-width: 580px) {
    .project-img, .blog-banner-box {
        border-radius: 16px;
    }
}

.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
}

.project-item-icon-box {
    --scale: 0.8;
    background: var(--jet);
    color: var(--orange-yellow-crayola);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    font-size: 20px;
    padding: 18px;
    border-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
}

ion-icon {
    visibility: hidden;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.hydrated {
    visibility: inherit;
}

.project-item-icon-box ion-icon {
    --ionicon-stroke-width: 50px;
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

:host .ionicon {
    stroke: currentcolor;
}

.ionicon-fill-none {
    fill: none;
}

.ionicon-stroke-width {
    stroke-width: var(--ionicon-stroke-width, 32px);
}

img, ion-icon, a, button, time, span {
    display: block;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-1);
}

.project-title, .project-category {
    margin-left: 10px;
}

.project-title {
    color: var(--white-2);
    font-size: var(--fs-5);
    font-weight: var(--fw-400);
    text-transform: capitalize;
    line-height: 1.3;
}

.project-category {
    color: var(--light-gray-70);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
}

.project-item > a:hover .project-img::before {
    background: hsla(0, 0%, 0%, 0.5);
}