*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
    --bg-gradient-yellow-2: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    --ff-poppins: 'Poppins', sans-serif;
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}

@media (min-width: 580px) {
    :root {
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
    }
}

@media (min-width: 1024px) {
    :root {
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
        --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
        --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    }
}

.sidebar, article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

article {
    display: none;
}

@media (min-width: 580px) {
    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .sidebar, article {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .sidebar, article {
        width: 950px;
        box-shadow: var(--shadow-5);
    }
}

@media (min-width: 1250px) {
    .sidebar, article {
        width: auto;
    }
}

@media (min-width: 1250px) {
    article {
        min-height: 100%;
    }
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

.h2, .h3, .h4, .h5 {
    color: var(--white-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.article-title {
    position: relative;
    padding-bottom: 7px;
}

.article-title {
    margin-bottom: 30px;
}

@media (min-width: 580px) {
    .article-title {
        font-weight: var(--fw-600);
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .article-title {
        padding-bottom: 20px;
    }
}

.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}

@media (min-width: 580px) {
    .article-title::after {
        width: 40px;
        height: 5px;
    }
}

.timeline {
    margin-bottom: 30px;
}

.timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
}

@media (min-width: 580px) {
    .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        font-size: 18px;
    }
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
}

ion-icon {
    visibility: hidden;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.hydrated {
    visibility: inherit;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

:host .ionicon {
    stroke: currentcolor;
}

.h3 {
    font-size: var(--fs-2);
}

.timeline-list {
    font-size: var(--fs-6);
    margin-left: 45px;
}

@media (min-width: 580px) {
    .timeline-list {
        margin-left: 65px;
    }
}

li {
    list-style: none;
}

.timeline-item {
    position: relative;
}

.timeline-item:not(:last-child) {
    margin-bottom: 20px;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
}

@media (min-width: 580px) {
    .timeline-item:not(:last-child)::before {
        left: -40px;
    }
}

.h4 {
    font-size: var(--fs-4);
}

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.timeline-list span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 1250px) {
    .timeline-text {
        max-width: 700px;
    }
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: var(--text-gradient-yellow);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

@media (min-width: 580px) {
    .timeline-item::after {
        height: 8px;
        width: 8px;
        left: -43px;
    }
}

.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 1250px) {
    .timeline-text {
        max-width: 700px;
    }
}

.timeline-item {
    position: relative;
}

.timeline-item:not(:last-child) {
    margin-bottom: 20px;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
}

@media (min-width: 580px) {
    .timeline-item:not(:last-child)::before {
        left: -40px;
    }
}

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
}

.h4 {
    font-size: var(--fs-4);
}

.timeline-list span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 1250px) {
    .timeline-text {
        max-width: 700px;
    }
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: var(--text-gradient-yellow);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

@media (min-width: 580px) {
    .timeline-item::after {
        height: 8px;
        width: 8px;
        left: -43px;
    }
}

.timeline {
    margin-bottom: 30px;
}

.timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
}

@media (min-width: 580px) {
    .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        font-size: 18px;
    }
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
}

ion-icon {
    visibility: hidden;
}

img, ion-icon, a, button, time, span {
    display: block;
}

.hydrated {
    visibility: inherit;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

:host .ionicon {
    stroke: currentcolor;
}

.skills-title {
    margin-bottom: 20px;
}

.content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
}

.skills-list {
    padding: 20px;
}

@media (min-width: 580px) {
    .content-card {
        padding: 30px;
        padding-top: 25px;
    }
}

.content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.skills-item:not(:last-child) {
    margin-bottom: 15px;
}

@media (min-width: 580px) {
    .skills-item:not(:last-child) {
        margin-bottom: 25px;
    }
}

.skill .title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
}

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

.skill .title-wrapper data {
    color: var(--light-gray);
    font-size: var(--fs-7);
    font-weight: var(--fw-300);
}

.skill-progress-bg {
    background: var(--jet);
    width: 100%;
    height: 8px;
    border-radius: 10px;
}

.skills-item:not(:last-child) {
    margin-bottom: 15px;
}

@media (min-width: 580px) {
    .skills-item:not(:last-child) {
        margin-bottom: 25px;
    }
}

.skill .title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
}

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}